<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <!-- Log4Net -->
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net"/>
  </configSections>
  <connectionStrings>
    <add name="TentilabConnection" connectionString="Integrated Security=SSPI;Persist Security Info=False;Initial Catalog=LAB_SourceDB;Data Source=MimSrv2016Sp1"/>
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  
  <!--***************** CONFIGURAZIONE Log4NET ******************* -->
  <log4net>
    <!-- Configurazione eventview appender -->
    <appender name="EventLogAppender" type="log4net.Appender.EventLogAppender">
      <logName value="MassiveManager"/>
      <applicationName value="MassiveManagerChange"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger - %message%newline"/>
      </layout>
      <!--<filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="ERROR"/>
        <levelMax value="ERROR"/>
      </filter>-->
    </appender>
    <appender name="Appender-root" type="log4net.Appender.RollingFileAppender">
      <file value="C:\Sourcevizzada1\MassiveManagerChange\MassiveManagerChange\Log\MassiveManagerChange.txt"/>
      <appendToFile value="true"/>
      <param name="RollingStyle" value="Date"/>
      <param name="DatePattern" value="_(yyyy.MM.dd)"/>
      <param name="StaticLogFileName" value="true"/>
      <layout type="log4net.Layout.PatternLayout">
        <header value="
[Start Logging :]
[*]|[RequestID]|[Date]|[Thread ID]|[Type]|[Logger]|[Identity user]|[Message Log][Exception (if exception occur)]
"/>
        <conversionPattern value="[*]|[%property{RequestID}]|[%d]|[%t]|[%-5p]|[%c]|[%identity]|[%m]|[%exception] %n"/>
        <footer value="[End Logging]
"/>
      </layout>
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="DEBUG"/>
        <levelMax value="ERROR"/>
      </filter>
    </appender>
    <!-- Impostazione appender e priority levels OFF, FATAL, ERROR, WARN, INFO, DEBUG and ALL -->
    <root>
      <priority value="ALL"/>
      <appender-ref ref="EventLogAppender"/>
      <appender-ref ref="Appender-root"/>
    </root>
  </log4net>
  <!--**************END LOG4NET***************************************************** -->

  <system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <binding name="MetadataExchangeHttpBinding_IMetadataExchange" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxReceivedMessageSize="2048576" messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true" allowCookies="false">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
          <reliableSession ordered="true" inactivityTimeout="00:10:00" enabled="false"/>
          <security mode="None">
            <transport clientCredentialType="Windows" proxyCredentialType="None" realm=""/>
            <message clientCredentialType="Windows" negotiateServiceCredential="true" establishSecurityContext="true"/>
          </security>
        </binding>
      </wsHttpBinding>
      <wsHttpContextBinding>
        <binding name="ServiceMultipleTokenBinding_Resource" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxReceivedMessageSize="65536" messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true" allowCookies="false" contextProtectionLevel="Sign">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
          <reliableSession ordered="true" inactivityTimeout="00:10:00" enabled="false"/>
          <security mode="Message">
            <transport clientCredentialType="Windows" proxyCredentialType="None" realm=""/>
            <message clientCredentialType="Windows" negotiateServiceCredential="true" algorithmSuite="Default" establishSecurityContext="false"/>
          </security>
        </binding>
        <binding name="ServiceMultipleTokenBinding_ResourceFactory" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxReceivedMessageSize="65536" messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true" allowCookies="false" contextProtectionLevel="Sign">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
          <reliableSession ordered="true" inactivityTimeout="00:10:00" enabled="false"/>
          <security mode="Message">
            <transport clientCredentialType="Windows" proxyCredentialType="None" realm=""/>
            <message clientCredentialType="Windows" negotiateServiceCredential="true" algorithmSuite="Default" establishSecurityContext="false"/>
          </security>
        </binding>
        <binding name="ServiceMultipleTokenBinding_Enumeration" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxReceivedMessageSize="165536" messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true" allowCookies="false" contextProtectionLevel="Sign">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
          <reliableSession ordered="true" inactivityTimeout="00:10:00" enabled="false"/>
          <security mode="Message">
            <transport clientCredentialType="Windows" proxyCredentialType="None" realm=""/>
            <message clientCredentialType="Windows" negotiateServiceCredential="true" algorithmSuite="Default" establishSecurityContext="false"/>
          </security>
        </binding>
        <binding name="ServiceMultipleTokenBinding_Alternate" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxReceivedMessageSize="65536" messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true" allowCookies="false" contextProtectionLevel="Sign">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
          <reliableSession ordered="true" inactivityTimeout="00:10:00" enabled="false"/>
          <security mode="Message">
            <transport clientCredentialType="Windows" proxyCredentialType="None" realm=""/>
            <message clientCredentialType="Windows" negotiateServiceCredential="true" algorithmSuite="Default" establishSecurityContext="false"/>
          </security>
        </binding>
        <binding name="ServiceMultipleTokenBinding_SecurityTokenService" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxReceivedMessageSize="65536" messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true" allowCookies="false" contextProtectionLevel="Sign">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
          <reliableSession ordered="true" inactivityTimeout="00:10:00" enabled="false"/>
          <security mode="Message">
            <transport clientCredentialType="Windows" proxyCredentialType="None" realm=""/>
            <message clientCredentialType="Windows" negotiateServiceCredential="true" algorithmSuite="Default" establishSecurityContext="false"/>
          </security>
        </binding>
      </wsHttpContextBinding>
    </bindings>
    <client>


      <endpoint address="http://localhost:5725/ResourceManagementService/Resource" binding="wsHttpContextBinding" bindingConfiguration="ServiceMultipleTokenBinding_Resource" contract="Resource" name="ServiceMultipleTokenBinding_Resource">
        <identity>
          <userPrincipalName value="tentilab\svc-mimservice"/>
          <!-- <userPrincipalName value="FIMService@fabrikam.com"/>-->
        </identity>
      </endpoint>
      <endpoint address="http://localhost:5725/ResourceManagementService/ResourceFactory" binding="wsHttpContextBinding" bindingConfiguration="ServiceMultipleTokenBinding_ResourceFactory" contract="ResourceFactory" name="ServiceMultipleTokenBinding_ResourceFactory">
        <identity>
          <userPrincipalName value="fim\fimsvc"/>
        </identity>
      </endpoint>
      <endpoint address="http://localhost:5725/ResourceManagementService/Enumeration" binding="wsHttpContextBinding" bindingConfiguration="ServiceMultipleTokenBinding_Enumeration" contract="Enumerate" name="ServiceMultipleTokenBinding_Enumeration">
        <identity>
          <userPrincipalName value="tentilab\svc-mimservice"/>
        </identity>
      </endpoint>
      <endpoint address="http://localhost:5725/ResourceManagementService/Alternate" binding="wsHttpContextBinding" bindingConfiguration="ServiceMultipleTokenBinding_Alternate" contract="Alternate" name="ServiceMultipleTokenBinding_Alternate">
        <identity>
          <userPrincipalName value="tentilab\svc-mimservice"/>
        </identity>
      </endpoint>
      <endpoint address="http://localhost:5725/ResourceManagementService/MEX" binding="wsHttpBinding" bindingConfiguration="MetadataExchangeHttpBinding_IMetadataExchange" contract="IMEX" name="MetadataExchangeHttpBinding_IMetadataExchange">
        <identity>
          <userPrincipalName value="tentilab\svc-mimservice"/>
        </identity>
      </endpoint>
      <endpoint address="http://localhost:5726/ResourceManagementService/SecurityTokenService/Registration" binding="wsHttpContextBinding" bindingConfiguration="ServiceMultipleTokenBinding_SecurityTokenService" contract="ISecurityTokenService" name="ServiceMultipleTokenBinding_SecurityTokenService">
        <identity>
          <userPrincipalName value="tentilab\svc-mimservice"/>
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>

</configuration>