<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <configSections>
    <!-- Log4Net -->
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net"/>
  </configSections>
  <connectionStrings>
    <add name="TentilabConnection" connectionString="Integrated Security=SSPI;Persist Security Info=False;Initial Catalog=LAB_SourceDB;Data Source=MimSrv2016Sp1"/>
  </connectionStrings>

  <!--***************** CONFIGURAZIONE Log4NET ******************* -->
  <log4net>
    <!-- Configurazione eventview appender -->
    <appender name="EventLogAppender" type="log4net.Appender.EventLogAppender">
      <logName value="MassiveManager"/>
      <applicationName value="MassiveManagerChange"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger - %message%newline"/>
      </layout>
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="ERROR"/>
        <levelMax value="ERROR"/>
      </filter>
    </appender>
    <appender name="Appender-root" type="log4net.Appender.RollingFileAppender">
      <file value="C:\Sorgenti\RisalitaGerarchica\log\PopulateManager.txt"/>
      <appendToFile value="true"/>
      <param name="RollingStyle" value="Date"/>
      <param name="DatePattern" value="_(yyyy.MM.dd)"/>
      <param name="StaticLogFileName" value="true"/>
      <layout type="log4net.Layout.PatternLayout">
        <header value="
[Start Logging :]
[*]|[RequestID]|[Date]|[Thread ID]|[Type]|[Logger]|[Identity user]|[Message Log][Exception (if exception occur)]
"/>
        <conversionPattern value="[*]|[%property{RequestID}]|[%d]|[%t]|[%-5p]|[%c]|[%identity]|[%m]|[%exception] %n"/>
        <footer value="[End Logging]
"/>
      </layout>
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="DEBUG"/>
        <levelMax value="ERROR"/>
      </filter>
    </appender>
    <!-- Impostazione appender e priority levels OFF, FATAL, ERROR, WARN, INFO, DEBUG and ALL -->
    <root>
      <priority value="ALL"/>
      <appender-ref ref="EventLogAppender"/>
      <appender-ref ref="Appender-root"/>
    </root>
  </log4net>
  <!--**************END LOG4NET***************************************************** -->
</configuration>